<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachedNativeVersions</key>
	<dict>
		<key>kernel</key>
		<string>14.0.0</string>
		<key>shell</key>
		<string>14.0.0</string>
	</dict>
	<key>sdkVersions</key>
	<array>
		<string>14.0.0</string>
	</array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb610433635813734</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>610433635813734</string>
    <key>FacebookDisplayName</key>
    <string>TornioMaps</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
</dict>
</plist>
